@page
@model SepahMD.Web.Pages.DocDetailsModel
@{

}
<section class="services-section-two">
<div class="wrapper list">
                            <div class="list-view">
                                <div class="row">
                                    <div class="col-lg-12 doctor-block-two">
                                        <div class="inner-box">
                                            <div class="image">
                                                <img src="assets/images/resource/image-44.jpg" alt="">
                                            </div>
                                            <div class="lower-content">
                                                <div class="rating">4.9<i class="icon_star"></i></div>
                                                <div class="like"><i class="icon_heart"></i></div>
                                                @foreach (var item in Model.ShowSelectedDoctors)
                                                {
                                                <div class="top-content">
                                                    <h4>@item.DoctorName <span class="category">@item.doctorType.DoctorTypeName</span></h4>
                                                    <div class="text-two">@item.city.CityName</div>
                                                    <div class="text"><i class="icon_pin"></i>@item.DoctorAddress</div>
                                                </div>
                                                <div class="link-btn">
                                                    <a href="#" class="theme-btn"><span><i class="icon_calendar"></i>@item.DoctorTell</span></a>
                                                    
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
</section>